catalog/docbook5.2/docbook.nvdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
     The DocBook Schema Version 5.2
     Committee Specification 01
     19 July 2023
     Copyright (c) OASIS Open 2023. All Rights Reserved.
     Source: https://docs.oasis-open.org/docbook/docbook/v5.2/cs01/
     Link to latest version of specification: https://docs.oasis-open.org/docbook/docbook/v5.2/docbook-v5.2.html
-->
<rules xmlns="http://purl.oclc.org/dsdl/nvdl/ns/structure/1.0"
       startMode="docbook">

<mode name="docbook">
  <namespace ns="http://docbook.org/ns/docbook">
    <validate schema="rng/docbook.rng" useMode="attach"/>
    <validate schema="sch/docbook.sch" useMode="attach"/>
  </namespace>
</mode>

<mode name="attach">
  <anyNamespace>
    <attach/>
  </anyNamespace>
</mode>

</rules>
