catalog/openxml/MS-XLSX-AppendixA/5_27_http_schemas_microsoft_com_office_spreadsheetml_2019_extlinksprops.xsd

<xsd:schema targetNamespace="http://schemas.microsoft.com/office/spreadsheetml/2019/extlinksprops" elementFormDefault="qualified" xmlns:x="http://schemas.openxmlformats.org/spreadsheetml/2006/main" xmlns="http://schemas.microsoft.com/office/spreadsheetml/2019/extlinksprops" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:element name="externalLinksPr" type="CT_ExternalLinksPr"/>
   <xsd:complexType name="CT_ExternalLinksPr">
     <xsd:attribute name="autoRefresh" type="xsd:boolean" use="optional" default="false"/>
   </xsd:complexType>
 </xsd:schema>
